@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,body{
    font-family: 'Poppins', sans-serif;
    height:100%;
    width:100%;
    overflow-x: hidden;
    /* margin-top:10px;   */
    line-height: 1.5;
}

.logo{
    width:120px;
}

nav{
    padding:2.5rem !important;
}
.nav-item{
    padding-left:2.5rem;
}

.nav-link{
    color:#223988 !important;
    font-size:1.1rem !important;
}

.conference-nav{
    color:white !important
}


.navbar-toggler-icon, .navbar-toggler{
    background-color:#223988 !important;
}

.col-for-text-heading{
    margin-left:3.5rem;

}
.nav-first-section{
    background-color:#F8F8F8;
    padding-bottom:0rem;

}

.col-for-img-heading{
    margin-top:0rem;
}

.promoting{
    font-family: 'Dancing Script', cursive;
    color:#DA8508;
}
/* .nav-conference{
    background-color: transparent !important;
} */

.sticky{
    background-color:#223988 !important;
    /* transition:ease-in 800ms !important; */
}
.section-1{
    margin-top:3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    

}

.conference-heading{
    font-size:4rem;
    font-weight:800;
    color:#F3930b;
    
}
.conference-timer{
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 46px #00000099;
    border: 5px solid #F3930B;
    border-radius: 31px;
    margin-bottom: 1.5rem;
    margin-top:1rem;
    padding:1.5rem 3rem;
    letter-spacing: 2.24px;
    opacity: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.section-2{
    margin-top:8rem;
    /* padding-left: 1.5rem; */
}


.how-to-join{
    margin:5rem;
}



.about-btn{
    background-color:#223988;
    padding:1rem 3rem;
    margin-top: 15px;
    color:white;
}

.about-btn a{
    color:white;
    text-decoration: none;
    text-align:left;
}

.paragraph-for-journey{
    margin-top:3rem;
}



.section-2-img{
    margin-top:7rem;

}

.dropdown{
    border:none !important;
}
.for-conference{
    padding:5rem 15rem;
    
    background-color:#223988;
    color:white;
    /* display:flex;
    flex-direction:column; */
    /* justify-content: center; */
    /* align-items: center; */
}
.payment-heading{

}

.payment-form{
    background:transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 5px solid #F3930B;
    border-radius: 14px;
    opacity: 1; 
     backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding:2rem 3rem;
}

.btn-conference{
    background:white;
    padding:1rem 2.5rem;
    
}

.call-for-paper-section{
    margin:8rem 2rem;

}
.conference-important-date{
    margin:8rem 2rem;
}
.btn-conference a{
    background:white;
    text-decoration: none;
    
}
.col-md-6 ul li{
    margin-top:1.5rem !important;
}

footer{
    background-color: #223988;
    color:white;
}
footer .container{
    /* padding:5rem 5rem; */
   
}
footer a{
    text-decoration:none;
    color:white;
}
.footer-col{
    margin-top:3rem;
}
.newsletter-form{
    background:transparent;
    text-align: left !important;
    padding: 2rem 3rem !important;
    border: 3px solid white!important;
    border-radius: 10px !important;
    text-align:left !important;
    
}

.btn-footer{
   
    color:#DA8508 !important;
    font-size: 1.2rem;
    text-align: center;
}

footer ul{
    margin-top:1rem;
}

footer a:hover{
    color:white;
}
.fa.fa-check{
    color:#DA8508;
}

.newsletter{
    padding:0rem 8rem !important;
}

.col-md-4 .card{
    background: transparent linear-gradient(180deg, #DA8508 0%, #6D4304 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 57px #000000B0;
    opacity: 1;
    height: 300px;
    border-radius: 25px !important;
    color:white;
}
.col-md-4 .card-p{
    padding:1rem;

}


.seminar-heading{
    font-size:4rem;
    font-weight: 600;
    letter-spacing: 2.2px;
    color: #F3930B;


}

.seminar-reg{
    background:#BE6F00;
    padding:8rem;
}

.form-seminar{
    background:transparent !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    border: 5px solid #F8F8F8 !important;
    color:#FFF !important;
    border-radius: 14px !important;
    padding:2rem 3rem !important;
    opacity: 1 !important;
    backdrop-filter: blur(30px) !important;
    -webkit-backdrop-filter: blur(30px) !important;
}
/* ::placeholder{
    color:white !important;
} */
.btn-seminar{
    background:white;
    color:#F3930B;
    padding:1rem 2rem;
    border-radius: 3px !important;

}

.seminar-time{
    margin-top:1rem !important;

}

.date-for-seminar{
    margin-top:1rem;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 46px #00000099;
    border: 5px solid #F3930B;
    border-radius: 17px;
    opacity: 1;
    padding:0.5rem 5rem;
    letter-spacing: 1.94px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.thick-orange{
    color:#F3930B;
}
.seminar-theme-heading{
    margin-top: 1rem;
}
.membership-login{
    margin:5rem 0rem;
}

.membership-login-form{
    box-shadow: 0px 3px 6px #00000029 !important;
    border: 4px solid #DA8508 !important;
    border-radius: 10px !important;
    padding:1.5rem 2rem;
}
.btn-membership-login{
    background-color:#DA8508 !important;
    color:white;
    padding:0.5rem 3rem;
}

.bg-img-for-conference{
    background-image:url("images/conference.jpg");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.bg-img-for-payment{
    background-image:url("images/payment.jpg");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.bg-img-for-seminar{
    background-image:url("images/seminar.jpg");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;


}

.bg-img-for-workshop{
    background-image:url("images/workshop.png");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;


}
.img-container{
    position:relative !important;
} 
.image-overlay{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.7);
    z-index:1;
}
.img-overlay-text{
    position:relative;
    z-index: 2;
    height:100%;
    width: 100%;
    max-width: 100%;
    display:flex;
    align-items:center;
    
    justify-content: center;
    flex-direction:column;
    color:white;
    text-align:center;
}

.img-overlay-text-payment{
    position:relative;
    z-index: 2;
    height:100vh;
    width: 100%;
    max-width: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
}

.abt-heading{
    
    margin:0;
    font-weight: 600;
    padding:0.5rem;
}

 .message-form{
    border:2px solid #d4b83b !important;
    border-radius: 10px !important;
    padding:1.5rem 3rem;
}

@media screen and (max-width:560px){
    .nav-item{
        padding-left:0rem;
    }
    .col-md-4 .card-p{
        padding:0rem;
    }
   
    .conference-theme{
        font-size:1.3rem !important;
    }

    .col-for-text-heading{
        margin-top:0rem;
        margin-left:0.5rem;
       
    
    }
    .col-for-text-heading h2{
        font-size: 1.5rem !important;
        letter-spacing: 1.5px !important;
        
    }
    .date-for-seminar h3{
        font-size:1.2rem !important;
    
    }
    .seminar-theme{
        font-size:1rem !important;
    }

}


.btn-message{
    background:#d4b83b;
    padding:1rem 5rem;
    
}

.message{
    color:#223988 !important;
}

.btn-message a{
    background:white;
    text-decoration: none;
    
}
@media screen and (max-width:991px){

    
    .navbar ul{
        width:100%;
        background:#DA8508;
        padding-left:1rem;
    }
    .navbar ul li{
        width:100%;
    }
    .nav-item{
        padding-left:0rem;
    }
    .for-conference{
        padding:5rem 1rem;
        
        background-color:#223988;
        color:white;
        
    }

    footer{
        background-color: #223988;
        color:white;
    }
    footer .container{
        padding:0rem 1rem;
       
    }
    footer a{
        text-decoration:none;
        color:white;
    }

    input .newsletter-form{
        padding: 2rem 3rem !important;
        border: 3px solid white!important;
        border-radius: 10px !important;
        text-align:left !important;
        background:transparent;
    }
   
    footer ul{
        margin-top:1rem;
    }
    
    footer a:hover{
        color:white;
    }
    
    .newsletter{
        padding:0rem 1.5rem !important;
    }
    
    .seminar-reg{
        background:#BE6F00;
        padding: 1rem;
    }
    .how-to-join{
        margin:0rem;
    }

}


@media screen and (max-width:810px){

    .col-for-text-heading{
        margin-top:0rem;
        margin-left:1rem;
    
    }
    .col-for-text-heading h2{
        font-size: 2rem;
        letter-spacing: 3px;
    }
    
    .col-for-img-heading{
        margin-top:5rem;
    }

}

@media screen and (max-width:767px){
    .col-md-4 .card{
        background: transparent linear-gradient(180deg, #DA8508 0%, #6D4304 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 57px #000000B0;
        opacity: 1;
        
        height: 300px;
        border-radius: 25px !important;
        /* margin:2rem; */
        margin: 0 2rem;
    }
    .about-us .col-md-4{
        margin-top:2rem;
        padding:0rem !important;
    }

    .seminar-reg{
        background:#BE6F00;
        padding:2rem;
    }

    .conference-heading{
        font-size:2rem;
        font-weight:400;
        color:#F3930B;
        
    }
    
    .conference-theme{
        font-size: 1.5rem;
        padding:0rem 0.5rem;
    }

    .date-for-seminar{
        margin-top:0rem;
        font-size:1.5rem !important;
        background: none;
        box-shadow: none;
        border: none;
        border-radius: none;
        opacity: 1;
        padding:0rem 0rem;
        letter-spacing: 1.94px;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    
    }
    .seminar-time{
        display:none;
    }
    .seminar-heading{
        font-size:2rem;
        font-weight: 600;
        letter-spacing: 2.2px;
        color: #F3930B;
    
    
    }
  
}



