@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,body{
    font-family: 'Poppins', sans-serif;
    height:100%;
    width:100%;
    overflow-x: hidden;
    background-color:#f4f4f4;
    line-height: 1.5;
}

.logo{
    width:120px;
}

.nav-item{
    padding-left:2.5rem;
}

.nav-link{
    color:#223988;
    font-size:1.1rem;
}

.navbar-toggler{
    background-color: #223988 !important;

}
.navbar-toggler-icon{
    color:white !important;
}
.col-for-text-heading{
    margin-left:3.5rem;

}

.promoting{
    font-family: 'Dancing Script', cursive;
}

.section-1{
    margin-top:3rem;

}
.section-2{
    margin-top:8rem;
}
.col-for-text-heading h2{
    font-size: 3rem;
    letter-spacing: 3px;
}



.about-btn{
    background-color:#223988;
    padding:1rem 4rem;
    margin-top: 15px;
}

.about-btn a{
    color:white;
    text-decoration: none;
    text-align:left;
}

.paragraph-for-journey{
    margin-top:3rem;
}



.section-2-img{
    margin-top:7rem;

}


.for-conference{
    padding:5rem 20rem;
    
    background-color:#223988;
    color:white;
    /* display:flex;
    flex-direction:column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.btn-conference{
    background:white;
    
}

.btn-conference a{
    background:white;
    text-decoration: none;
    
}


@media screen and (max-width:560px){
    .nav-item{
        padding-left:0rem;
    }

}

@media screen and (max-width:991px){
    .for-conference{
        padding:5rem 1rem;
        
        background-color:#223988;
        color:white;
        
    }
    

}


@media screen and (max-width:810px){

    .col-for-text-heading{
        margin-top:0rem;
        margin-left:1rem;
    
    }
    .col-for-text-heading h2{
        font-size: 2rem;
        letter-spacing: 3px;
    }
    
    .col-for-img-heading{
        margin-top:5rem;
    }

}