@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html,body{
    font-family: 'Poppins', sans-serif;
    height:100%;
    width:100%;
    overflow-x: hidden;
    
    line-height: 1.5;
}

.logo{
    width:120px;
}

.nav-item{
    padding-left:2.5rem;
}

.nav-link{
    color:#223988;
    font-size:1.1rem;
}

.navbar-toggler{
    background-color: #223988 !important;

}

.col-for-text-heading{
    margin-left:3.5rem;

}
.nav-first-section{
    background-color:#f4f4f4;
    padding-bottom:2rem;

}

.promoting{
    font-family: 'Dancing Script', cursive;
    color:;
}

.section-1{
    margin-top:3rem;
    

}
.section-2{
    margin-top:8rem;
    /* padding-left: 1.5rem; */
}
.col-for-text-heading h2{
    font-size: 3rem;
    letter-spacing: 3px;
}



.about-btn{
    background-color:#223988;
    padding:1rem 3rem;
    margin-top: 15px;
    color:white;
}

.about-btn a{
    color:white;
    text-decoration: none;
    text-align:left;
}

.paragraph-for-journey{
    margin-top:3rem;
}



.section-2-img{
    margin-top:7rem;

}

.dropdown{
    border:none !important;
}
.for-conference{
    padding:5rem 15rem;
    
    background-color:#223988;
    color:white;
    /* display:flex;
    flex-direction:column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.btn-conference{
    background:white;
    padding:1rem 2.5rem;
    
}

.btn-conference a{
    background:white;
    text-decoration: none;
    
}
.col-md-6 ul li{
    margin-top:1.5rem !important;
}

footer{
    background-color: #223988;
    color:white;
}
footer .container{
    padding:5rem 5rem;
   
}
footer a{
    text-decoration:none;
    color:white;
}
.footer-col{
    margin-top:3rem;
}
.newsletter-form{
    background:transparent;
    text-align: left !important;
    
}
input{
    padding: 2rem 3rem !important;
    border: 3px solid white!important;
    border-radius: 10px !important;
    text-align:left !important;
}
.btn-footer{
   
    color:#d4b83b !important;
    font-size: 1.5rem;
    text-align: center;
   

    
}
footer ul{
    margin-top:1rem;
}

footer a:hover{
    color:white;
}
.fa.fa-check{
    color:#d4b83b;
}

.newsletter{
    padding:0rem 8rem !important;
}

.card{
    background:#d4b83b;
    height: 300px;
    border-radius: 15px !important;
    color:white;
}
.card p{
    padding:1rem;

}

.nav-conference{
    background-color: transparent !important;
}


.bg-img-for-conference{
    background-image:url("images/conference_2.jpg");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.img-container{
    position:relative !important;
} 
.image-overlay{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 0.6);
    z-index:1;
}
.img-overlay-text{
    position:relative;
    z-index: 2;
    height:100%;
    width: 100%;
    max-width: 100%;
    display:flex;
    align-items:center;
    
    justify-content: center;
    flex-direction:column;
    color:white;
    text-align:center;
}


.abt-heading{
    
    margin:0;
    font-weight: 600;
    padding:0.5rem;
}


@media screen and (max-width:560px){
    .nav-item{
        padding-left:0rem;
    }
    .card-p{
        padding:0rem;
    }

}

@media screen and (max-width:991px){
    .for-conference{
        padding:5rem 1rem;
        
        background-color:#223988;
        color:white;
        
    }

    footer{
        background-color: #223988;
        color:white;
    }
    footer .container{
        padding:5rem 1.5rem;
       
    }
    footer a{
        text-decoration:none;
        color:white;
    }
    .newsletter-form{
        background:transparent;
        
    }
    input{
        padding: 2rem 3rem !important;
        border: 3px solid white!important;
        border-radius: 10px !important;
        text-align:left !important;
    }
    .btn-footer{
       
        color:#d4b83b !important;
        font-size: 1.5rem;
        text-align: center;
       
    
        
    }
    footer ul{
        margin-top:1rem;
    }
    
    footer a:hover{
        color:white;
    }
    
    .newsletter{
        padding:0rem 1.5rem !important;
    }
    

}


@media screen and (max-width:810px){

    .col-for-text-heading{
        margin-top:0rem;
        margin-left:1rem;
    
    }
    .col-for-text-heading h2{
        font-size: 2rem;
        letter-spacing: 3px;
    }
    
    .col-for-img-heading{
        margin-top:5rem;
    }

}

@media screen and (max-width:767px){
    .card{
        background:#d4b83b;
        height: 300px;
        border-radius: 15px !important;
        margin:2rem;
    }
    .about-us .col-md-4{
        margin-top:2rem;
        padding:0rem !important;
    }
}